    {% for item in data %}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="">
                    <a href="{{ item.get_absolute_url }}">
                        <img class="product-image" src="{{item.img.url}}" alt="">
                    </a>
                    <ul class="social">
                        <li><a href="wish_list" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="{{ item.get_home_add_item_url }}" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    {% if item.offer %}
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                    {% endif %}
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                    <div class="price">${{ item.price }}
{#                        <span>${{ item.price }}</span>#}
                    </div>

                          <a  href="{{ item.get_home_add_item_url }}" class="btn add-to-cart btn-md my-0 p">
                              Add to cart
                              <i class="fa fa-shopping-cart"></i>
                           </a>

                    <div class="product-rating" style="margin: 1em 0;color:#FFB656;">
                                    <i class="fa fa-star{% if item.averagereview < 1%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if item.averagereview < 2%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if item.averagereview < 3%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if item.averagereview < 4%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if item.averagereview < 5%}-o empty{% endif%}"></i>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
