{% load static %}
{% block body %}
<section  style="width:160%;margin-left: -18em;" class="footers bg-light pt-5 pb-3">

   <div  class="container pt-5">
       <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-4 footers-one">
    		    <div class="footers-logo">
    		        <h5 style="width:5em;font-weight: bold">About us </h5>
    		    </div>
    		    <div class="footers-info mt-3">
    		        <p>Shopicart, India’s no. 1 online fashion destination justifies its fashion relevance by bringing
						something new and chic to the table on the daily. Fashion trends seem to change at lightning speed,
						yet the Shopicart shopping app has managed to keep up without any hiccups. In addition,Shopicart has vowed to
						serve customers to the best of its ability
						by introducing its first-ever loyalty program.</p>
    		    </div>
		   </div>

    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
    		    <h5> Keep connected </h5>
    		    <ul class="list-unstyled">
					<div style="margin-left:2.5em;" class="social-icons">
    			 <li><a href="#"><i style="color: dimgrey;" id="social-fb" class="fab fa-facebook-square fa-2x social"></i></a></li>
    			 <li><a href="#"><i style="color: dimgrey;" id="social-tw" class="fab fa-twitter-square fa-2x social"></i></a></li>
    			 <li><a href="#"><i style="color: dimgrey;" id="social-gp" class="fab fa-google-plus-square fa-2x social"></i></a></li>
    			 <li> <a href="#"><i style="color: dimgrey;" id="social-em" class="fa fa-envelope-square fa-2x social"></i></a></li>
				</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
    		    <h5>Contact Us </h5>
    		    <ul class="list-unstyled">
    			 <li><a>Phone Number :</a></li>
    			 <li><a>665 98349804</a></li>
    			 <li><a>Mobile Number :</a></li>
    			 <li><a>+91 874823472</a></li>
				 <li><a>Email :</a></li>
    			 <li><a href="#">shopicart@gmail.com</a></li>

    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
    		    <h5>Company </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="#">Career</a></li>
    			 <li><a href="#">For Parters</a></li>
    			 <li><a href="#">Terms</a></li>
    			 <li><a href="#">Policy</a></li>
    			 <li><a href="#">Contact Us</a></li>
    			</ul>
    		</div>

       </div>
   </div>
</section>
<section style="width:160%;margin-left: -18em;" class="disclaimer bg-light border">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 py-2">
                <small>
                   Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
               </small>
            </div>
        </div>
    </div>
</section>
<section   style="width:160%;margin-left: -18em;" class="copyright border">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 pt-3">
                <p class="text-muted">© 2021 Bushra www.shopicart.com All Right Reserved</p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}