{% extends "base.html" %}
{% load static %}
{% block content %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/register.css'%}">
<div class="wrap1">
    <form  method="POST">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">
              <h4 style="color: #225f4f;text-align: center;">{{ message }}</h4>
          </div>
        {% endfor %}
        {% endif %}
        <h4 style="color: #0f2f8d;font-weight: bold;text-align: center">Forget Password</h4>

        <p style="color: Black">
         Enter your user account's verified email address and we will send you a password reset link
        </p>
          <input type="text" name="email" placeholder="email" required>
          <input type="submit" value="send">
    </form>
</div>
{% endblock body %}

{% endblock content %}